.header {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: var(--dashboard-nav-back-color);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    margin-top: 31px;
    margin-left: 109px;
}

.logopass {
    position: relative;
    margin-left: 109px;
}

/* .choice {
    margin-right: 100px;
}

.choice img {
    cursor: pointer;
} */